<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Air routes Page</h2>

<h3>Add new Air route</h3>

<form action="/addAirRoute" method="post">
    <input type="text" name="destination" placeholder="destination" th:required="required"/>
    <input type="submit" name="" placeholder="" value="Save"/>
</form>

<h4><i>Result Of Saving:</i></h4>
<h5 th:text="${resultOfSavingAirRoute}"> </h5>

<h3>All Air Routes to Update: </h3>
<ul>
    <li th:each="airRoute : ${airRoutes}">
        <p th:text="${airRoute}"></p>
        <form action="/updateAirRoute" method="post">
        <input type="hidden" name="routeId" placeholder="routeId" th:value="${airRoute.routeId}"/>
        <input type="text" name="destination" placeholder="destination" th:required="required" th:value="${airRoute.destination}"/>
        <input type="submit" name="" placeholder="" value="Update"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Updating:</i></h4>
<h5 th:text="${resultOfUpdatingAirRoute}"> </h5>

<form action="/adminPage" method="get">
    <input type="submit" name="" placeholder="" value="Back to Admin page"/>
</form>

</body>
</html>