<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Main Aircrafts Page</h2>

<form action="/saveAircraft" method="post">
    <input type="text" name="aircraftName" placeholder="Aircraft Name" th:required="required"/>
    <input type="text" name="passengerCapacity" placeholder="Passenger Capacity" th:required="required"/>
    <input type="submit" name="" placeholder="" value="Save"/>
</form>
<h4><i>Result Of Saving:</i></h4>

<h5 th:text="${resultOfSavingAircraft}"> </h5>

<h3>All Aircrafts to Update: </h3>
<ul>
    <li th:each="aircraft : ${aircrafts}">
        <p th:text="${aircraft}"></p>
        <form action="/updateAircraft" method="post">
            <input type="hidden" name="aircraftId" placeholder="aircraftId" th:value="${aircraft.aircraftId}"/>
            <input type="text" name="aircraftName" placeholder="Aircraft Name" th:required="required" th:value="${aircraft.aircraftName}"/>
            <input type="text" name="passengerCapacity" placeholder="Passenger Capacity" th:required="required" th:value="${aircraft.passengerCapacity}"/>
            <input type="submit" name="" placeholder="" value="Update"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Updating:</i></h4>
<h5 th:text="${resultOfUpdatingAircraft}"> </h5>

<h3> Aircrafts to Delete: </h3>
<ul>
    <li th:each="aircraft : ${aircrafts}">
        <p th:text="${aircraft}"></p>
        <form action="/deleteAircraft" method="post">
            <input type="hidden" name="aircraftId" placeholder="aircraftId" th:value="${aircraft.aircraftId}"/>
            <input type="submit" name="" placeholder="" value="Delete"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Deleting:</i></h4>
<h5 th:text="${resultOfDeletingAircraft}"> </h5>

<form action="/adminPage" method="get">
    <input type="submit" name="" placeholder="" value="Back to Admin page"/>
</form>

</body>
</html>