<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>All my flights:</h2>

<ul>
    <li th:each="flight : ${flights}">
        <div th:text="${'Destination: '+flight.getRoute().getDestination()+
                        ',  Aircraft: '+flight.getAircraft().getAircraftName()+
                        ',  Departure'+flight.getDeparture()}"></div>
    </li>
</ul>
<form action="/customerPage" method="post">
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Back to Customer page"/>
</form>

</body>
</html>