<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Main Flights Page</h2>

<h3>Save new flight: </h3>
<form action="/saveFlight" method="post">
    <select name="airRoute">
    <option th:each="airRoute : ${airRoutes}"
    th:value="${airRoute.routeId}"
    th:text="${airRoute.destination}"
    name="airRoute">
    </option>
    </select>
    <select name="aircraft">
        <option th:each="aircraft : ${aircrafts}"
                th:value="${aircraft.aircraftId}"
                th:text="${aircraft.aircraftName}"
                name="aircraft">
        </option>
    </select>
    <input type="date" name="departure" placeholder="departure" th:required="required"/>
    <input type="submit" name="" placeholder="" value="Save"/>
</form>
<h4><i>Result Of Saving:</i></h4>
<h5 th:text="${resultOfSavingFlight}"> </h5>

<h3>All Flights to Update: </h3>
<ul>
    <li th:each="flight : ${flights}">
        <p th:text="${'Destination: '+flight.getRoute().destination+', Aircraft: '+flight.getAircraft().aircraftName+', Orderded seats: '+flight.orderedSeats+', Departure: '+flight.departure}"></p>
        <form action="/updateFlight" method="post">
            <select name="airRoute">
                <option th:each="airRoute : ${airRoutes}"
                        th:value="${airRoute.routeId}"
                        th:text="${airRoute.destination}"
                        name="airRoute">
                </option>
            </select>
            <select name="aircraft">
                <option th:each="aircraft : ${aircrafts}"
                        th:value="${aircraft.aircraftId}"
                        th:text="${aircraft.aircraftName}"
                        name="aircraft">
                </option>
            </select>
            <input type="hidden" name="flightId" placeholder="flightId" th:value="${flight.flightId}"/>
            <input type="text" name="orderedSeats" placeholder="Ordered Seats" th:required="required" th:value="${flight.orderedSeats}"/>
            <input type="date" name="departure" placeholder="departure" th:required="required" th:value="${flight.departure}"/>
            <input type="submit" name="" placeholder="" value="Update"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Updating:</i></h4>
<h5 th:text="${resultOfUpdatingFlight}"> </h5>

<h3>Flights to Delete: </h3>
<ul>
    <li th:each="flight : ${flights}">
        <p th:text="${'Destination: '+flight.getRoute().destination+', Aircraft: '+flight.getAircraft().aircraftName+', Orderded seats: '+flight.orderedSeats+', Departure: '+flight.departure}"></p>
        <form action="/deleteFlight" method="post">
            <input type="hidden" name="flightId" placeholder="flightId" th:value="${flight.flightId}"/>
            <input type="submit" name="" placeholder="" value="Delete"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Dleting:</i></h4>
<h5 th:text="${resultOfDeletingFlight}"> </h5>

<form action="/adminPage" method="get">
    <input type="submit" name="" placeholder="" value="Back to Admin page"/>
</form>

</body>
</html>