<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>WELCOME to Airport API!!</h2>

<form action="/login" method="get">
    <input type="submit" name="" placeholder="" value="Log in"/>
</form>

<form action="/newAccount" method="get">
    <input type="submit" name="" placeholder="" value="Create a new Account"/>
</form>

</body>
</html>
