<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Login Page</h2>

<h5>Log into: </h5>
<form action="/loginCombination" method="post">

    <input type="text" name="username" placeholder="username" th:required="required"/>

    <input type="password" name="password" placeholder="password" th:required="required"/>

    <input type="submit" name="" placeholder="" value="Log In"/>

</form>

<h4><i>Result Of Logination:</i></h4>
<h5 th:text="${resultOfLogination}"> </h5>

<h5>Or get back</h5>
<form action="/" method="get">
    <input type="submit" name="" placeholder="" value="Back to Home Page"/>
</form>

</body>
</html>