<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Main Admin Page</h2>

<ul>
    <li>
        <form action="/airRoutes" method="get">
            <input type="submit" name="" placeholder="" value="Go to Air routes"/>
        </form>
    </li>
    <li>
        <form action="/aircrafts" method="get">
            <input type="submit" name="" placeholder="" value="Go to Aircrafts"/>
        </form>
    </li>
    <li>
        <form action="/flights" method="get">
            <input type="submit" name="" placeholder="" value="Go to Flight"/>
        </form>
    </li>
    <li>
        <form action="/manageCustomers" method="get">
            <input type="submit" name="" placeholder="" value="Manage customers"/>
        </form>
    </li>
</ul>

<h5>Or get back</h5>
<form action="/" method="get">
    <input type="submit" name="" placeholder="" value="Back to Home Page"/>
</form>

</body>
</html>