<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Main customer page</h2>
<!--<h2 th:text="${customer.customerName}" >Hello- </h2>-->

<h4>Update yor data</h4>
<form action="/updateCustomer" method="post">
     <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
     <input type="text" name="customerName" placeholder="customerName" th:required="required" th:value="${customer.customerName}"/>
     <input type="submit" name="" placeholder="" value="Update"/>
</form>
<h4><i>Result Of Updating:</i></h4>
<h5 th:text="${resultOfUpdatingCustomer}"> </h5>

<h4>Change password:</h4>
<form action="/changePassword" method="post">
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="password" name="oldPassword" placeholder="oldPassword" th:required="required"/>
    <input type="password" name="newPassword" placeholder="newPassword" th:required="required"/>
    <input type="submit" name="" placeholder="" value="Change"/>
</form>
<h4><i>Result Of Changing password:</i></h4>
<h5 th:text="${resultOfChangingPassword}"> </h5>


<h4>Delete account:</h4>
<form action="/deleteAccount" method="post">
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Delete account PERMANENTLY"/>
</form>
<h4><i>Result Of Deleting:</i></h4>
<h5 th:text="${resultOfDeletingAccount}"> </h5>

<ul>
    <li>
        <form action="/orders" method="post">
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="submit" name="" placeholder="" value="Go to Orders"/>
        </form>
    </li>
    <li>
        <form action="/responses" method="post">
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="submit" name="" placeholder="" value="Go to Responses"/>
        </form>
    </li>
    <li>
        <form action="/showAllMyFlights" method="post">
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="submit" name="" placeholder="" value="Show All My Flights"/>
        </form>
    </li>
</ul>

<h5>Or get back</h5>
<form action="/" method="get">
    <input type="submit" name="" placeholder="" value="Back to Home Page"/>
</form>

</body>
</html>