<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Manage customers Page</h2>

<h3> All customers to change access credential: </h3>
<ul>
    <li th:each="customer : ${customers}">
        <p th:text="${customer}"></p>
        <form action="/chooseCustomer" method="post">
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="submit" name="" placeholder="" value="Choose"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Changing access:</i></h4>
<h5 th:text="${resultOfChangingAccess}"> </h5>

<form action="/adminPage" method="get">
    <input type="submit" name="" placeholder="" value="Back to Admin page"/>
</form>

</body>
</html>