<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Orders page:</h2>

<h3>Watch all responses of Flight: </h3>
<form action="/watchResponsesOfFlight" method="post">
    <select name="flightId">
        <option th:each="flight : ${flights}"
                th:value="${flight.flightId}"
                th:text="${'Destination: '+flight.getRoute().destination+', Aircraft: '+flight.getAircraft().aircraftName+', Departure: '+flight.departure}"
                name="flightId">
        </option>
    </select>
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Get Responses"/>
</form>
<h4><i>List of responses:</i></h4>
<div>
    <ul>
        <li th:each="response : ${responses}">
            <p th:text="${response.toStringMainData()}"></p>
        </li>
    </ul>
</div>

<h3>Save new Order: </h3>
<form action="/saveOrder" method="post">
    <select name="flightId">
        <option th:each="flight : ${flights}"
                th:value="${flight.flightId}"
                th:text="${'Destination: '+flight.getRoute().destination+', Aircraft: '+flight.getAircraft().aircraftName+', Departure: '+flight.departure}"
                name="flightId">
        </option>
    </select>
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Save"/>
</form>
<h4><i>Result Of Saving:</i></h4>
<h5 th:text="${resultOfSavingOrder}"> </h5>

<h3>Delete Order: </h3>
<ul>
    <li th:each="orderFlight : ${orderFlights}">
        <p th:text="${'Destination of Order: '+orderFlight.getFlight().getRoute().destination+', Departure: '+orderFlight.getFlight().departure+', Date of order: '+orderFlight.getDate()}"></p>
        <form action="/deleteOrder" method="post">
            <input type="hidden" name="orderId" placeholder="orderId" th:value="${orderFlight.getOrderId()}"/>
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="submit" name="" placeholder="" value="Delete"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Deleting:</i></h4>
<h5 th:text="${resultOfDeletingOrder}"> </h5>


<form action="/customerPage" method="post">
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Back to Customer page"/>
</form>

</body>
</html>