<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Registration page</h2>


<form action="/saveCustomer" method="post">

    <input type="text" name="login" placeholder="login" th:required="required"/>

    <input type="text" name="password" placeholder="password" th:required="required"/>

    <input type="text" name="customerName" placeholder="customerName" th:required="required"/>

    <input type="submit" name="" placeholder="" value="Sign In"/>

</form>

<h4><i>Result Of Registration:</i></h4>
<h5 th:text="${resultOfRegistration}"> </h5>


<form action="/" method="get">
    <input type="submit" name="" placeholder="" value="Back to Home Page"/>
</form>

</body>
</html>