<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Index</title>
</head>
<body>

<h2>Responses page:</h2>

<h3>Add response: </h3>
<form action="/saveResponse" method="post">
    <select name="orderId">
        <option th:each="orderFlifgt : ${orderFlights}"
                th:value="${orderFlifgt.orderId}"
                th:text="${'Destination of Order: '+orderFlifgt.getFlight().getRoute().destination+', Departure: '+orderFlifgt.getFlight().departure+', Date of order: '+orderFlifgt.getDate()}"
                name="orderId">
        </option>
    </select>
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="text" name="description" placeholder="description" th:required="required" />
    <select name="type">
        <option th:each="type : ${types}"
                th:value="${type}"
                th:text="${type}"
                name="type">
        </option>
    </select>
    <input type="submit" name="" placeholder="" value="Save"/>
</form>
<h4><i>Result Of Saving:</i></h4>
<h5 th:text="${resultOfSavingResponse}"> </h5>

<h3>Update response: </h3>

<ul>
    <li th:each="response : ${responses}">
        <p th:text="${'Departure: '+response.getOrderFlight().getFlight().getDeparture()+
                        '  Destination: '+response.getOrderFlight().getFlight().getRoute().getDestination()+
                        '  Description: '+response.description+',  Type: '+response.responseType}"></p>
        <form action="/updateResponse" method="post">

            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="hidden" name="responseId" placeholder="responseId" th:value="${response.responseId}"/>
            <input type="text" name="description" placeholder="description" th:required="required" th:value="${response.description}"/>
            <select name="type">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type}"
                        name="type">
                </option>
            </select>
            <input type="submit" name="" placeholder="" value="Update"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Updating:</i></h4>
<h5 th:text="${resultOfUpdatingResponse}"> </h5>

<h3>Delete Response: </h3>

<ul>
    <li th:each="response : ${responses}">
        <p th:text="${'Departure: '+response.getOrderFlight().getFlight().getDeparture()+
                        '  Destination: '+response.getOrderFlight().getFlight().getRoute().getDestination()+
                        '  Description: '+response.description+',  Type: '+response.responseType}"></p>
        <form action="/deleteResponse" method="post">
            <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
            <input type="hidden" name="responseId" placeholder="responseId" th:value="${response.responseId}"/>
            <input type="submit" name="" placeholder="" value="Delete"/>
        </form>
    </li>
</ul>
<h4><i>Result Of Deleting:</i></h4>
<h5 th:text="${resultOfDeletingResponse}"> </h5>

<form action="/customerPage" method="post">
    <input type="hidden" name="customerId" placeholder="customerId" th:value="${customer.customerId}"/>
    <input type="submit" name="" placeholder="" value="Back to Customer page"/>
</form>
</body>
</html>